
<div class="center jumbotron">
<h1>Welcome to ChattboxKE</h1>

<h2><strong>this is a home page for chattbox</strong></h2>

<%= link_to "Sign up now!",signup_path,class: "btn btn-lg btn-primary" %>
<b>Discuss</b>
<b>Grow</b>
<b>Enjoy</b>
</div>

<%=image_tag("people.jpg",alt: "Chattup") %>
