
<div class="center jumbotron">
<h1>Welcome to ChattboxKE Home Page</h1>
<div class="font-weight-bold"> DISCOVER DISCUSS GROW</div>
<%=image_tag 'people.jpg',:style=> "width:717px;height:409px" %>
</div>

