
<div class="center jumbotron">
<h1>Welcome to ChattboxKE Home Page</h1>
<b>DISCUSS</b> <b>GROW</b>  <b>ENJOY</b>
<h2><strong></strong></h2>

<%= link_to "Sign up now!",signup_path,class: "btn btn-lg btn-primary" %>


<%=image_tag("people.jpg",alt: "Chattup") %>
